<mat-card>
  <form #sourceForm="ngForm" (ngSubmit)="save(carForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{ source.name ? 'Edit' : 'Add'}} Source</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="source.href">
      <mat-form-field>
        <input matInput placeholder="Source Name" [(ngModel)]="source.name"
               required name="name" #name>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!sourceForm.form.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(source.href)"
              *ngIf="source.href" type="button">Delete</button>
      <a mat-button routerLink="/sources">Cancel</a>
    </mat-card-actions>
  </form>
</mat-card>
