<div class="mx-auto border-space">
  <div class="w-50">
    <div class="align-content-center">

      <form role="form">
        <fieldset class="form-group">
          <label>Text Input</label>
          <input class="form-control">
          <p class="help-block">Example block-level help text here.</p>
        </fieldset>

        <div class="inline-space">
          <button type="submit" class="btn btn-secondary ">Submit Button</button>
        </div>
        <div class="inline-space">
          <button type="reset" class="btn btn-secondary">Reset Button</button>
        </div>

      </form>
    </div>

  </div>
</div>

